In [30]:
import pandas as pd
import numpy as np
import os
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
 

data = pd.read_csv("https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv")
data.head()

             name alpha-2 alpha-3  country-code     iso_3166-2   region       sub-region intermediate-region  region-code  sub-region-code  intermediate-region-code
0     Afghanistan      AF     AFG             4  ISO 3166-2:AF     Asia    Southern Asia                 NaN        142.0             34.0                       NaN
1   Åland Islands      AX     ALA           248  ISO 3166-2:AX   Europe  Northern Europe                 NaN        150.0            154.0                       NaN
2         Albania      AL     ALB             8  ISO 3166-2:AL   Europe  Southern Europe                 NaN        150.0             39.0                       NaN
3         Algeria      DZ     DZA            12  ISO 3166-2:DZ   Africa  Northern Africa                 NaN          2.0             15.0                       NaN
4  American Samoa      AS     ASM            16  ISO 3166-2:AS  Oceania        Polynesia                 NaN          9.0             61.0                       NaN

In [ ]:
feature_cols = ["region-code", "sub-region-code", "intermediate-region-code"]